{% extends "homebase.html" %}

{%  block title %} Hakkımızda- {{ setting.company }} {%  endblock %}
{%  block keywords %} {{ setting.keywords }} {%  endblock %}
{%  block description %} {{ setting.description }} {%  endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block slider %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Hakkımızda</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Hakkımızda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
{% endblock %}

{% block content %}
    <!-- Section -->
    <div class="section">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <br class="row">
                <p></p>
                {{ setting.aboutus|safe}}
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Section -->


{% endblock %}